.col-4{
	 border: 1px solid black;
   border-radius: 3%;
   margin: 2% 1%;
   max-width: 31.333333%;
}
.row{
	margin: 1%;
}

#form_login{
	display: none;
	position: fixed;
	background-color: rgba(186, 205, 224, 1);
	border: 1px solid black;
	border-radius: 5px;
  left: 40%;
	z-index: 1;
	width: 19%;
}
header{
	height: 10%;
}
footer{
	margin-top: 5%;
}