<body>
    <div class="cbp-item graphic identity">
        <div class="u-block-hover g-parent">
            <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="./assets/img-temp/400x270/img2.jpg" alt="Image description"></img>
        </div>
        <div class="text-center g-pa-25">
            <h3 class="h5 g-color-black mb-1">{{ titol }}</h3>
            <p class="g-color-gray-dark-v4 mb-0">{{ tema }}</p>
        </div>
    </div>
</body>